body {
	margin: 0px;
	background-color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFF;
	text-align: left;
	-webkit-text-size-adjust: none -moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#main {
	background-image:url('../images/hardware/background.png');
	background-repeat: no-repeat;
	height: 500px;
}
/* #hardware_header {
	text-align: center;
} */